{
  "openapi": "3.1.0",
  "info": {
    "title": "Booking.com Demand API",
    "version": "3.2",
    "summary": "<span style=\"background-color:#0070c9; color:white; font-size:0.8rem; padding:0.2rem 0.5rem; border-radius:4px;\">v3.2</span> \n\nDemand API version 3.2 introduces several improvements and breaking changes from version 3.1, including updates to **accommodation booking flows**, inclusion of <strong>Attractions in orders/details</strong> for post-booking reporting and other structural enhancements.<br/> \n\n- The API follows REST principles and returns data in **JSON** format.  \n- You can access endpoints via **HTTPS POST** requests.<br/>\n\n<strong>Authentication:</strong> Use your Affiliate ID and token credentials to use these endpoints.  \n<p><a href=\"https://developers.booking.com/demand/docs/getting-started/try-out-the-api\">Try it out!</a></p>\n"
  },
  "servers": [
    {
      "url": "https://demandapi.booking.com/3.2",
      "description": "Production environment – use for live integrations."
    },
    {
      "url": "https://demandapi-sandbox.booking.com/3.2",
      "description": "Sandbox environment – use for testing and validation."
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "string"
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Accommodations",
      "x-displayName": "Accommodation",
      "description": "<span style=\"background-color:#0070c9; color:white; font-size:0.8rem; padding:0.2rem 0.5rem; border-radius:4px;\">v3.2</span> \n\nThis collection includes endpoints related to **stays** within the connected trip experience.  \n<br/>\nUse these endpoints to:\n- Search for hotels, apartments, and other accommodation types.  \n- Check real-time availability and pricing.  \n- Retrieve property details and guest reviews.     \n"
    },
    {
      "name": "Cars",
      "x-displayName": "Car rentals",
      "description": "<span style=\"background-color:#0070c9; color:white; font-size:0.8rem; padding:0.2rem 0.5rem; border-radius:4px;\">v3.2</span> \n\nThis collection includes endpoints related to **car rental** services within the connected trip experience.  \n\nUse these endpoints to:\n- Search and retrieve car details.  \n- Retrieve car specifications, depot locations, and supplier information.\n"
    },
    {
      "name": "Common/locations",
      "x-displayName": "Locations",
      "description": "<span style=\"background-color:#0070c9; color:white; font-size:0.8rem; padding:0.2rem 0.5rem; border-radius:4px;\">v3.2</span> \n\nThis collection provides standardised **location identifiers** for geographical entities such as airports, countries, cities, and regions.  \n<br/>\n  Use the returned identifiers when constructing requests across all travel services API collections, including both accommodation and car rental endpoints.   \n"
    },
    {
      "name": "Common/payments",
      "x-displayName": "Payments",
      "description": "<span style=\"background-color:#0070c9; color:white; font-size:0.8rem; padding:0.2rem 0.5rem; border-radius:4px;\">v3.2</span> \n\nProvides generic **payment-related identifiers**, including supported currency codes, payment cards, and relevant metadata for booking flows.\n<br/>\n- Use the returned identifiers when constructing requests across all travel services API collections, including both accommodation and car rental endpoints.   \n"
    },
    {
      "name": "Common/languages",
      "x-displayName": "Languages",
      "description": "<span style=\"background-color:#0070c9; color:white; font-size:0.8rem; padding:0.2rem 0.5rem; border-radius:4px;\">v3.2</span> \n\nUse this endpoint to retrieve a list of supported IETF language tag codes. \n      \n- You can use these codes when constructing requests across all travel services API collections, including both accommodation and car rental endpoints.\n"
    },
    {
      "name": "Orders",
      "x-displayName": "Orders",
      "description": "<span style=\"background-color:#0070c9; color:white; font-size:0.8rem; padding:0.2rem 0.5rem; border-radius:4px;\">v3.2</span> \n\nThis API collection enables **management of booking orders** within the Demand API. \n</br>Use these endpoints to:\n  - Preview and create new orders.\n  - Check order details.\n  - Cancel or modify existing orders. \nThis collection is required to integrate booking and order management functionality.\n"
    }
  ],
  "x-tagGroups": [
    {
      "name": "Travel services",
      "tags": [
        "Accommodations",
        "Cars"
      ]
    },
    {
      "name": "Common",
      "tags": [
        "Common/locations",
        "Common/payments",
        "Common/languages"
      ]
    },
    {
      "name": "Orders",
      "tags": [
        "Orders"
      ]
    }
  ],
  "paths": {
    "/accommodations/search": {
      "post": {
        "summary": "Search for accommodation",
        "description": "Use this endpoint to search for accommodations that match your specified criteria. <br/>By default, **the response returns the cheapest available product** for each accommodation.<br/><br/>When applying location filters such as country or region, results are ranked by Booking.com popularity (top picks) rather than price, with higher-ranked listings appearing first.",
        "operationId": "/accommodations/search",
        "parameters": [
          {
            "in": "header",
            "name": "X-Affiliate-Id",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "Include here your Affiliate identifier number"
          }
        ],
        "tags": [
          "Accommodations"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "AccommodationsSearchInput",
                "type": "object",
                "properties": {
                  "accommodations": {
                    "type": "array",
                    "items": {
                      "description": "A signed integer number that uniquely identifies an accommodation property. The full list can be obtained by calling [accommodations/details](/demand/docs/open-api/demand-api/accommodations/accommodations/details).",
                      "type": "integer",
                      "minimum": 1
                    },
                    "maxItems": 100
                  },
                  "airport": {
                    "description": "A three-letter code that uniquely identifies an airport as defined by the International Air Transport Association (IATA). The full list can be obtained by calling  <a href=\"/demand/docs/open-api/demand-api/commonlocations/common/locations/airports\" target=\"_blank\">common/locations/airports</a>.",
                    "type": "string",
                    "pattern": "^[A-Z]{3}$",
                    "example": "AMS"
                  },
                  "booker": {
                    "title": "Booker",
                    "description": "The booker's information.",
                    "type": "object",
                    "properties": {
                      "country": {
                        "description": "The booker country for showing the best price for that user and obeying laws regarding the display of taxes and fees.",
                        "type": "string",
                        "pattern": "^[a-z]{2}$"
                      },
                      "platform": {
                        "description": "The booker platform for showing the platform based deals and prices.",
                        "type": "string",
                        "enum": [
                          "android",
                          "desktop",
                          "ios",
                          "mobile",
                          "tablet"
                        ]
                      },
                      "state": {
                        "description": "The booker state for showing the best price for that user and obeying laws regarding the display of taxes and fees. Currently applicable only for country US.",
                        "type": "string",
                        "pattern": "^[a-z]{2}$"
                      },
                      "travel_purpose": {
                        "description": "The travel purpose of the booker.",
                        "type": "string",
                        "enum": [
                          "business",
                          "leisure"
                        ]
                      },
                      "user_groups": {
                        "description": "The user groups that the booker is a member of.",
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "authenticated"
                          ]
                        }
                      }
                    },
                    "required": [
                      "country",
                      "platform"
                    ]
                  },
                  "checkin": {
                    "description": "The checkin date. Must be within 500 days in the future and in the format yyyy-mm-dd.",
                    "type": "string",
                    "format": "date"
                  },
                  "checkout": {
                    "description": "The checkout date. Must be later than {checkin}. Must be between 1 and 90 days after {checkin}. Must be within 500 days in the future and in the format yyyy-mm-dd.",
                    "type": "string",
                    "format": "date"
                  },
                  "city": {
                    "description": "A signed integer number that uniquely identifies a city. The full list can be obtained by calling <a href=\"/demand/docs/open-api/demand-api/commonlocations/common/locations/cities\" target=\"_blank\">common/locations/cities</a>.",
                    "type": "integer"
                  },
                  "coordinates": {
                    "title": "AccommodationsSearchCoordinatesOutput",
                    "description": "Limit the result list to the specified coordinates.",
                    "type": "object",
                    "properties": {
                      "latitude": {
                        "description": "Specify a latitude (as well as a longitude and radius) to do searches around a specific location.",
                        "type": "number",
                        "format": "double"
                      },
                      "longitude": {
                        "description": "Specify a longitude (as well as a latitude and radius) to do searches around a specific location.",
                        "type": "number",
                        "format": "double"
                      },
                      "radius": {
                        "description": "The radius is km to search around the specified latitude and longitude.",
                        "type": "number",
                        "format": "double"
                      }
                    }
                  },
                  "country": {
                    "description": "A two-letter code that uniquely identifies a country. This code is defined by the ISO 3166-1 alpha-2 standard (ISO2) as described here: https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2. The full list can be obtained by calling <a href=\"/demand/docs/open-api/demand-api/commonlocations/common/locations/countries\" target=\"_blank\">common/locations/countries</a>.",
                    "type": "string",
                    "pattern": "^[a-z]{2}$",
                    "example": "nl"
                  },
                  "currency": {
                    "description": "A three-letter code that uniquely identifies a monetary currency as defined by the ISO 4217 standard. The full list can be obtained by calling <a href=\"/demand/docs/open-api/demand-api/commonpayments/common/payments/currencies\" target=\"_blank\">common/payments/currencies</a>.",
                    "type": "string",
                    "pattern": "^[A-Z]{3}$",
                    "example": "EUR"
                  },
                  "district": {
                    "description": "A signed integer number that uniquely identifies a district. Typically, districts define known areas within a city. The full list can be obtained by calling <a href=\"/demand/docs/open-api/demand-api/commonlocations/common/locations/districts\" target=\"_blank\">common/locations/districts</a>.",
                    "type": "integer",
                    "minimum": 1
                  },
                  "extras": {
                    "description": "Input parameter to request for additional information about the products.",
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "extra_charges",
                        "products"
                      ]
                    }
                  },
                  "filters": {
                    "description": "Filter criteria for the search results",
                    "type": "object",
                    "properties": {
                      "24_hour_reception": {
                        "description": "Filter the result based if the front desk reception is available 24/7. When specified true, the result will filter the products where front desk is available 24/7.",
                        "type": "boolean"
                      },
                      "accommodation_facilities": {
                        "type": "array",
                        "items": {
                          "description": "A signed integer number that uniquely identifies an accommodation property facility. Examples of facilities are: Parking, Restaurant, Room service etc. The full list can be obtained by calling <a href=\"/demand/docs/open-api/demand-api/accommodations/accommodations/constants\" target=\"_blank\">accommodations/constants</a>.",
                          "type": "integer",
                          "minimum": 1
                        }
                      },
                      "accommodation_types": {
                        "type": "array",
                        "items": {
                          "description": "A signed integer number that uniquely identifies an accommodation property type. Examples of accommodation types are: Apartment, Hostel, Hotel etc. The full list can be obtained by calling <a href=\"/demand/docs/open-api/demand-api/accommodations/accommodations/constants\" target=\"_blank\">accommodations/constants</a>.",
                          "type": "integer",
                          "minimum": 1
                        }
                      },
                      "brands": {
                        "type": "array",
                        "items": {
                          "description": "A signed integer number that uniquely identifies an accommodation brand. Examples of brands are: Radisson Blu, WestCord Hotels, Westin etc. The full list can be obtained by calling <a href=\"/demand/docs/open-api/demand-api/accommodations/accommodations/chains\" target=\"_blank\">/accommodations/chains</a>.",
                          "type": "integer",
                          "minimum": 1
                        }
                      },
                      "cancellation_type": {
                        "description": "Filters the result for the cancellation type specified. Possible values are free_cancellation & non_refundable. If cancellation_type is free_cancellation, the result will contain all the products with free_cancellation.",
                        "type": "string",
                        "enum": [
                          "free_cancellation",
                          "non_refundable"
                        ]
                      },
                      "dormitories": {
                        "description": "This parameter specifies if the results should include dormitory beds or rooms. The default behaviour will include the dormitory beds or rooms with other results. When this flag is set to 'only', the response will only include dormitory beds or rooms. When this flag is set to 'exclude', the response will exclude dormitory beds or rooms. When this flag is set to 'include', the response will include dormitory beds or rooms with other results.",
                        "type": "string",
                        "default": "include",
                        "enum": [
                          "include",
                          "exclude",
                          "only"
                        ]
                      },
                      "meal_plan": {
                        "description": "Filter the result based on the selected meal plan. Example: When specified breakfast_included, it will show the product with free breakfast.",
                        "type": "string",
                        "enum": [
                          "all_inclusive",
                          "breakfast_included",
                          "full_board",
                          "half_board"
                        ]
                      },
                      "payment": {
                        "description": "The payment filter for the request",
                        "type": "object",
                        "properties": {
                          "credit_card_required": {
                            "description": "Filter to show accommodations which require credit card",
                            "type": "boolean"
                          },
                          "timing": {
                            "description": "This parameter specifies that the results should only return accommodation and blocks that contain the specified payment timings.",
                            "type": "string",
                            "enum": [
                              "pay_at_the_property",
                              "pay_online"
                            ]
                          }
                        }
                      },
                      "price": {
                        "description": "If specified, will return only results where the price *per night* falls in the specified range (inclusive). This filter requires that a currency is passed",
                        "type": "object",
                        "properties": {
                          "maximum": {
                            "description": "Set the maximum price per night, in the specified currency, or omit to indicate no upper limit.",
                            "type": "integer"
                          },
                          "minimum": {
                            "description": "Set the minimum price per night, in the specified currency, or omit to indicate no lower limit.",
                            "type": "integer"
                          }
                        }
                      },
                      "rating": {
                        "description": "The rating filter for the request",
                        "type": "object",
                        "properties": {
                          "minimum_review_score": {
                            "description": "Show only hotels with review_score >= that. Review score should be in the range 1 to 10.",
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 10
                          },
                          "stars": {
                            "description": "Limit to accommodations with the given number(s) of stars. Stars should be in the range of 1 to 5.",
                            "type": "array",
                            "items": {
                              "type": "number",
                              "minimum": 1,
                              "maximum": 5
                            }
                          }
                        }
                      },
                      "room_facilities": {
                        "type": "array",
                        "items": {
                          "description": "A signed integer number that uniquely identifies an accommodation property room facility. Examples of facilities are: Coffee/Tea maker, TV, Airconditioning, etc. The full list can be obtained by calling <a href=\"/demand/docs/open-api/demand-api/accommodations/accommodations/constants\" target=\"_blank\">accommodations/constants</a>.",
                          "type": "integer",
                          "minimum": 1
                        }
                      },
                      "sustainability_certification": {
                        "description": "Filter the result based on if the property has sustainability certification. When specified true, the result will filter and return only the accommodations that have sustainability certification.",
                        "type": "boolean"
                      },
                      "travel_proud": {
                        "description": "Filter the result based on if the property is LGBTQ+ friendly. When specified true, the result will filter and return only the accommodations that are Proud Certified.",
                        "type": "boolean"
                      }
                    }
                  },
                  "guests": {
                    "title": "AccommodationsGuests",
                    "description": "The guest details for the request.",
                    "type": "object",
                    "properties": {
                      "allocation": {
                        "description": "The exact allocation of guests to rooms.",
                        "type": "array",
                        "items": {
                          "properties": {
                            "children": {
                              "description": "The children ages for this room.",
                              "type": "array",
                              "items": {
                                "type": "integer",
                                "minimum": 0,
                                "maximum": 17
                              }
                            },
                            "number_of_adults": {
                              "description": "The number of adults for this room.",
                              "type": "integer",
                              "minimum": 1
                            }
                          },
                          "required": [
                            "number_of_adults"
                          ]
                        }
                      },
                      "children": {
                        "description": "Array with the children ages.",
                        "type": "array",
                        "items": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 17
                        }
                      },
                      "number_of_adults": {
                        "description": "The number of adults for the search.",
                        "type": "integer",
                        "minimum": 1
                      },
                      "number_of_rooms": {
                        "description": "The number of rooms needed.",
                        "type": "integer",
                        "minimum": 1
                      }
                    },
                    "required": [
                      "number_of_adults",
                      "number_of_rooms"
                    ]
                  },
                  "landmark": {
                    "description": "A signed integer number that uniquely identifies a relevant geographical landmark, like a monument or a natural attraction. The full list can be obtained by calling <a href=\"/demand/docs/open-api/demand-api/commonlocations/common/locations/landmarks\" target=\"_blank\">common/locations/landmarks</a>.",
                    "type": "integer",
                    "minimum": 1
                  },
                  "page": {
                    "description": "Pagination token used to retrieve the next page of results. Obtained from `next_page`.",
                    "type": "string"
                  },
                  "region": {
                    "description": "A signed integer number that uniquely identifies a geographical region. Regions usually define official administrative areas within a country, but may also include multiple countries and in some cases un-official but popular designations for geographical areas. An example of a region that crosses multiple countries is the Alps in Europe. The full list can be obtained by calling <a href=\"/demand/docs/open-api/demand-api/commonlocations/common/locations/regions\" target=\"_blank\">common/locations/regions</a>.",
                    "type": "integer",
                    "minimum": 1
                  },
                  "rows": {
                    "description": "The maximum number of results to return.",
                    "type": "integer",
                    "multipleOf": 10,
                    "minimum": 10,
                    "maximum": 100,
                    "default": 100
                  },
                  "sort": {
                    "description": "The sorting parameters for the response",
                    "type": "object",
                    "properties": {
                      "by": {
                        "description": "The way to sort your results. NOTE: When ordering by distance please make sure to specify the latitude and longitude!",
                        "type": "string",
                        "enum": [
                          "distance",
                          "price",
                          "review_score",
                          "stars"
                        ]
                      },
                      "direction": {
                        "description": "The direction you wish for your sort.by parameter to be sorted in",
                        "type": "string",
                        "enum": [
                          "ascending",
                          "descending"
                        ]
                      }
                    }
                  }
                },
                "required": [
                  "booker",
                  "checkin",
                  "checkout",
                  "guests"
                ]
              },
              "example": {
                "booker": {
                  "country": "nl",
                  "platform": "desktop"
                },
                "checkin": "!START_DATE!",
                "checkout": "!END_DATE!",
                "city": -2140479,
                "extras": [
                  "extra_charges",
                  "products"
                ],
                "guests": {
                  "number_of_adults": 2,
                  "number_of_rooms": 1
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "AccommodationsSearchOutput",
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "description": "Uniquely identifies the request. Please provide this identifier when contacting support.",
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "title": "AccommodationsSearchDataOutput",
                        "description": "",
                        "type": "object",
                        "properties": {
                          "id": {
                            "description": "A signed integer number that uniquely identifies an accommodation property. The full list can be obtained by calling [accommodations/details](/demand/docs/open-api/demand-api/accommodations/accommodations/details).",
                            "type": "integer",
                            "minimum": 1
                          },
                          "commission": {
                            "title": "AccommodationsCommission",
                            "description": "Commission details for the partner for a given accommodation",
                            "type": "object",
                            "properties": {
                              "amount": {
                                "description": "The actual commission amount for the partner.",
                                "type": "number",
                                "format": "double",
                                "minimum": 0
                              },
                              "percentage": {
                                "description": "Percentage of the fee that will be received as commission.",
                                "type": "number",
                                "format": "double",
                                "minimum": 0
                              }
                            }
                          },
                          "currency": {
                            "type": "object",
                            "properties": {
                              "accommodation": {
                                "description": "A three-letter code that uniquely identifies a monetary currency as defined by the ISO 4217 standard. The full list can be obtained by calling <a href=\"/demand/docs/open-api/demand-api/commonpayments/common/payments/currencies\" target=\"_blank\">common/payments/currencies</a>.",
                                "type": "string",
                                "pattern": "^[A-Z]{3}$",
                                "example": "EUR"
                              },
                              "booker": {
                                "description": "A three-letter code that uniquely identifies a monetary currency as defined by the ISO 4217 standard. The full list can be obtained by calling <a href=\"/demand/docs/open-api/demand-api/commonpayments/common/payments/currencies\" target=\"_blank\">common/payments/currencies</a>.",
                                "type": "string",
                                "pattern": "^[A-Z]{3}$",
                                "example": "EUR"
                              }
                            }
                          },
                          "deep_link_url": {
                            "description": "A mobile app URL that directs the user to a specific page or content within the Booking.com app. The link can only be used on a device with the Booking.com app installed. It typically includes an Affiliate ID (AID) to attribute bookings to the affiliate partner when users are redirected",
                            "type": "string",
                            "format": "url"
                          },
                          "price": {
                            "title": "OrdersPreviewProductSumPriceOutput",
                            "description": "The price components of all the products selected summed.",
                            "type": "object",
                            "properties": {
                              "base": {
                                "description": "The sum base price of all products selected. Does not include any extra charges.",
                                "title": "AccommodationsPriceMultiCurrency",
                                "type": "object",
                                "properties": {
                                  "accommodation_currency": {
                                    "type": "number",
                                    "multipleOf": 0.01,
                                    "exclusiveMinimum": 0
                                  },
                                  "booker_currency": {
                                    "type": "number",
                                    "multipleOf": 0.01,
                                    "exclusiveMinimum": 0
                                  }
                                }
                              },
                              "charges": {
                                "description": "The sum of charges for all products selected, grouped by charge type.",
                                "type": "array",
                                "items": {
                                  "title": "AccommodationsSearchChargeSummary",
                                  "description": "A charge summed across multiple products.",
                                  "type": "object",
                                  "properties": {
                                    "charge": {
                                      "description": "A signed integer number that uniquely identifies an accommodation charge type. Examples of charges are: VAT, City Tax, etc. The full list can be obtained by calling <a href=\"/demand/docs/open-api/demand-api/accommodations/accommodations/constants\" target=\"_blank\">accommodations/constants</a>.",
                                      "type": "integer",
                                      "minimum": 0
                                    },
                                    "condition": {
                                      "description": "A signed integer number that uniquely identifies the condition ID. Find the full list in the <a href=\"/demand/docs/accommodations/prices-accommodations\" target=\"_blank\">Pricing guidelines</a>.",
                                      "type": "integer",
                                      "minimum": 0
                                    },
                                    "included_in": {
                                      "title": "ChargeIncludedIn",
                                      "description": "Indicates where this charge is included",
                                      "type": "object",
                                      "properties": {
                                        "display": {
                                          "description": "Indicates if this charge is included in the display price.",
                                          "type": "boolean"
                                        }
                                      }
                                    },
                                    "total_amount": {
                                      "description": "The total price for this charge.",
                                      "type": "object",
                                      "properties": {
                                        "accommodation_currency": {
                                          "type": "number",
                                          "multipleOf": 0.01,
                                          "exclusiveMinimum": 0
                                        },
                                        "booker_currency": {
                                          "type": "number",
                                          "multipleOf": 0.01,
                                          "exclusiveMinimum": 0
                                        }
                                      }
                                    }
                                  }
                                }
                              },
                              "display": {
                                "description": "The display price that must be shown to the traveller. Equivalent to base + charges where included_in.display=true.",
                                "title": "AccommodationsPriceMultiCurrency",
                                "type": "object",
                                "properties": {
                                  "accommodation_currency": {
                                    "type": "number",
                                    "multipleOf": 0.01,
                                    "exclusiveMinimum": 0
                                  },
                                  "booker_currency": {
                                    "type": "number",
                                    "multipleOf": 0.01,
                                    "exclusiveMinimum": 0
                                  }
                                }
                              },
                              "total": {
                                "description": "The total sum price. Includes all extra charges of all products.",
                                "title": "AccommodationsPriceMultiCurrency",
                                "type": "object",
                                "properties": {
                                  "accommodation_currency": {
                                    "type": "number",
                                    "multipleOf": 0.01,
                                    "exclusiveMinimum": 0
                                  },
                                  "booker_currency": {
                                    "type": "number",
                                    "multipleOf": 0.01,
                                    "exclusiveMinimum": 0
                                  }
                                }
                              }
                            }
                          },
                          "products": {
                            "type": "array",
                            "items": {
                              "title": "AccommodationsSearchProductOutput",
                              "description": "Details product information. It requires `{\"extras\":[\"products\"]}`.",
                              "type": "object",
                              "properties": {
                                "id": {
                                  "description": "Unique ID of the product.",
                                  "type": "string"
                                },
                                "children": {
                                  "description": "The ages of the children allocated to this product.",
                                  "type": "array",
                                  "items": {
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 17
                                  }
                                },
                                "deal": {
                                  "title": "Deal",
                                  "description": "This specifies the deal tagging for the product.",
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "discount_percentage": {
                                      "description": "Discount percentage of the applied deal.",
                                      "type": "integer",
                                      "minimum": 1
                                    },
                                    "public_price": {
                                      "description": "Original price of this product, before applying any discounts.",
                                      "title": "AccommodationsPriceMultiCurrency",
                                      "type": "object",
                                      "properties": {
                                        "accommodation_currency": {
                                          "type": "number",
                                          "multipleOf": 0.01,
                                          "exclusiveMinimum": 0
                                        },
                                        "booker_currency": {
                                          "type": "number",
                                          "multipleOf": 0.01,
                                          "exclusiveMinimum": 0
                                        }
                                      }
                                    },
                                    "tags": {
                                      "description": "The tags of all the applied deals.",
                                      "type": "array",
                                      "items": {
                                        "type": "string",
                                        "enum": [
                                          "black_friday",
                                          "limited_time_deal",
                                          "logged_in_deal",
                                          "mobile_rate",
                                          "seasonal_deal"
                                        ]
                                      }
                                    }
                                  }
                                },
                                "inventory": {
                                  "title": "InventoryOutput",
                                  "type": "object",
                                  "properties": {
                                    "third_party": {
                                      "type": "boolean",
                                      "description": "Indicates if the inventory is from a third party."
                                    },
                                    "type": {
                                      "description": "Type of inventory - either net or sell rates.",
                                      "type": "string",
                                      "enum": [
                                        "net",
                                        "sell"
                                      ]
                                    }
                                  }
                                },
                                "number_available_at_this_price": {
                                  "description": "Number of rooms available at this price.",
                                  "type": "integer",
                                  "minimum": 1,
                                  "nullable": true
                                },
                                "number_of_adults": {
                                  "description": "The number of adults allocated to this product.",
                                  "type": "integer",
                                  "minimum": 1
                                },
                                "policies": {
                                  "title": "AccommodationsProductPolicies",
                                  "description": "The policies for this product.",
                                  "type": "object",
                                  "properties": {
                                    "cancellation": {
                                      "title": "AccommodationsProductCancellationPolicy",
                                      "description": "The cancellation policy for this product.",
                                      "type": "object",
                                      "properties": {
                                        "free_cancellation_until": {
                                          "description": "Until when the order for this product can be cancelled for free.",
                                          "type": "string",
                                          "format": "date-time",
                                          "nullable": true
                                        },
                                        "type": {
                                          "description": "The cancellation policy applicable to this product: \"free_cancellation\" allows a period for free cancellation, \"non_refundable\" means immediate loss of total amount, \"partially_refundable\" means a portion of the amount may be refunded if the booking is cancelled.",
                                          "type": "string",
                                          "enum": [
                                            "free_cancellation",
                                            "non_refundable",
                                            "partially_refundable"
                                          ]
                                        }
                                      }
                                    },
                                    "meal_plan": {
                                      "title": "AccommodationsProductMealPlanPolicy",
                                      "description": "The meal plan policy for this product.",
                                      "type": "object",
                                      "properties": {
                                        "meals": {
                                          "description": "The meals included in the meal plan.",
                                          "type": "array",
                                          "items": {
                                            "type": "string",
                                            "enum": [
                                              "breakfast",
                                              "dinner",
                                              "lunch"
                                            ]
                                          }
                                        },
                                        "plan": {
                                          "description": "The meal plan included in this product.",
                                          "type": "string",
                                          "enum": [
                                            "all_inclusive",
                                            "breakfast_included",
                                            "full_board",
                                            "half_board",
                                            "no_plan"
                                          ]
                                        }
                                      }
                                    },
                                    "payment": {
                                      "title": "AccommodationsProductPaymentPolicyNew",
                                      "description": "Payment terms and conditions for this product.",
                                      "type": "object",
                                      "properties": {
                                        "prepayment_required": {
                                          "description": "Whether prepayment is required for this product.",
                                          "type": "boolean"
                                        },
                                        "timings": {
                                          "description": "The payment timings supported by this product.",
                                          "type": "array",
                                          "items": {
                                            "type": "string",
                                            "enum": [
                                              "pay_at_the_property",
                                              "pay_online_later",
                                              "pay_online_now"
                                            ]
                                          }
                                        }
                                      }
                                    }
                                  }
                                },
                                "price": {
                                  "title": "AccommodationsSearchProductPrice",
                                  "description": "Contains the price components of an accommodation product. The 'base', 'display', 'chargeable_online' prices, and 'charges' are returned only when explicitly requested using extras=extra_charges.",
                                  "type": "object",
                                  "properties": {
                                    "base": {
                                      "description": "The base price. It does not include any extra charges.",
                                      "type": "object",
                                      "properties": {
                                        "accommodation_currency": {
                                          "type": "number",
                                          "multipleOf": 0.01,
                                          "exclusiveMinimum": 0
                                        },
                                        "booker_currency": {
                                          "type": "number",
                                          "multipleOf": 0.01,
                                          "exclusiveMinimum": 0
                                        }
                                      }
                                    },
                                    "charges": {
                                      "description": "The charge breakdown. Includes taxes and fees.",
                                      "type": "array",
                                      "items": {
                                        "title": "AccommodationsCharge",
                                        "description": "Detailed information about an individual charge, including where it is applied.",
                                        "type": "object",
                                        "properties": {
                                          "charge": {
                                            "description": "A signed integer number that uniquely identifies an accommodation charge type. Examples of charges are: VAT, City Tax, etc. The full list can be obtained by calling <a href=\"/demand/docs/open-api/demand-api/accommodations/accommodations/constants\" target=\"_blank\">accommodations/constants</a>.",
                                            "type": "integer",
                                            "minimum": 0
                                          },
                                          "condition": {
                                            "description": "A signed integer number that uniquely identifies the condition ID. Find the full list in the <a href=\"/demand/docs/accommodations/prices-accommodations\" target=\"_blank\">Pricing guidelines</a>.",
                                            "type": "integer",
                                            "minimum": 0
                                          },
                                          "included_in": {
                                            "title": "ChargeIncludedIn",
                                            "description": "Indicates where this charge is included",
                                            "type": "object",
                                            "properties": {
                                              "display": {
                                                "description": "Indicates if this charge is included in the display price.",
                                                "type": "boolean"
                                              }
                                            }
                                          },
                                          "mode": {
                                            "description": "The mode of this charge. Determines how the price is calculated.",
                                            "type": "string",
                                            "enum": [
                                              "calculated_amount",
                                              "incalculable",
                                              "percentage",
                                              "per_day",
                                              "per_night",
                                              "per_person_per_day",
                                              "per_person_per_night",
                                              "per_person_per_stay",
                                              "per_stay"
                                            ]
                                          },
                                          "percentage": {
                                            "description": "The percentage of 'base' that this charge amounts to. Only applicable when 'mode' is 'percentage'.",
                                            "type": "number",
                                            "multipleOf": 0.01,
                                            "exclusiveMinimum": 0,
                                            "nullable": true
                                          },
                                          "total_amount": {
                                            "description": "The total price for this charge.",
                                            "type": "object",
                                            "properties": {
                                              "accommodation_currency": {
                                                "type": "number",
                                                "multipleOf": 0.01,
                                                "exclusiveMinimum": 0
                                              },
                                              "booker_currency": {
                                                "type": "number",
                                                "multipleOf": 0.01,
                                                "exclusiveMinimum": 0
                                              }
                                            }
                                          },
                                          "unit_amount": {
                                            "description": "The price per unit for this charge. Only applicable when 'mode' is 'per_day', 'per_night', 'per_person_per_day', 'per_person_per_night', or 'per_person_per_stay'.",
                                            "type": "object",
                                            "properties": {
                                              "accommodation_currency": {
                                                "type": "number",
                                                "multipleOf": 0.01,
                                                "exclusiveMinimum": 0
                                              },
                                              "booker_currency": {
                                                "type": "number",
                                                "multipleOf": 0.01,
                                                "exclusiveMinimum": 0
                                              }
                                            },
                                            "nullable": true
                                          }
                                        }
                                      }
                                    },
                                    "display": {
                                      "description": "The display price that must be shown to the traveller in accordance with local booker protection laws. This price includes the base accommodation cost and all charges that are legally required to be part of the displayed amount. Equivalent to base + charges where included_in.display=true.",
                                      "type": "object",
                                      "properties": {
                                        "accommodation_currency": {
                                          "type": "number",
                                          "multipleOf": 0.01,
                                          "exclusiveMinimum": 0
                                        },
                                        "booker_currency": {
                                          "type": "number",
                                          "multipleOf": 0.01,
                                          "exclusiveMinimum": 0
                                        }
                                      }
                                    },
                                    "total": {
                                      "description": "The total price. Includes all extra charges.",
                                      "type": "object",
                                      "properties": {
                                        "accommodation_currency": {
                                          "type": "number",
                                          "multipleOf": 0.01,
                                          "exclusiveMinimum": 0
                                        },
                                        "booker_currency": {
                                          "type": "number",
                                          "multipleOf": 0.01,
                                          "exclusiveMinimum": 0
                                        }
                                      }
                                    }
                                  }
                                },
                                "room": {
                                  "description": "A unique identifier for a specific room within an accommodation property. You can retrieve the full list of available room IDs by calling [accommodations/details](/demand/docs/open-api/demand-api/accommodations/accommodations/details).",
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "url": {
                            "description": "Internet address for the property page on Booking.com.",
                            "type": "string",
                            "format": "url"
                          }
                        }
                      }
                    },
                    "next_page": {
                      "description": "Indicates that more results are available. Use this pagination token to retrieve the next page of results (via parameter `page`).",
                      "type": "string",
                      "nullable": true
                    }
                  }
                },
                "example": {
                  "request_id": "01fr9ez700exycb98w90w5r9sh",
                  "data": [
                    {
                      "id": 10004,
                      "currency": {
                        "accommodation": "EUR",
                        "booker": "EUR"
                      },
                      "deep_link_url": "booking://hotel/10004?affiliate_id=!AFFILIATE_ID!&checkin=!START_DATE!&checkout=!END_DATE!&mcid=10",
                      "price": {
                        "base": {
                          "accommodation_currency": 1081.49,
                          "booker_currency": 1081.49
                        },
                        "charges": [
                          {
                            "charge": 21,
                            "condition": null,
                            "included_in": {
                              "display": true
                            },
                            "total_amount": {
                              "accommodation_currency": 97.34,
                              "booker_currency": 97.34
                            }
                          },
                          {
                            "charge": 22,
                            "condition": null,
                            "included_in": {
                              "display": true
                            },
                            "total_amount": {
                              "accommodation_currency": 75.7,
                              "booker_currency": 75.7
                            }
                          },
                          {
                            "charge": 142,
                            "condition": null,
                            "included_in": {
                              "display": true
                            },
                            "total_amount": {
                              "accommodation_currency": 6,
                              "booker_currency": 6
                            }
                          }
                        ],
                        "display": {
                          "accommodation_currency": 1260.52,
                          "booker_currency": 1260.52
                        },
                        "total": {
                          "accommodation_currency": 1260.52,
                          "booker_currency": 1260.52
                        }
                      },
                      "products": [
                        {
                          "id": "1000420_95127794_2_0_0",
                          "children": [],
                          "deal": null,
                          "inventory": {
                            "third_party": false,
                            "type": "sell"
                          },
                          "number_of_adults": 2,
                          "policies": {
                            "cancellation": {
                              "free_cancellation_until": null,
                              "type": "non_refundable"
                            },
                            "meal_plan": {
                              "meals": [],
                              "plan": "no_plan"
                            },
                            "payment": {
                              "timings": [
                                "pay_at_the_property"
                              ]
                            }
                          },
                          "price": {
                            "base": {
                              "accommodation_currency": 1081.49,
                              "booker_currency": 1081.49
                            },
                            "charges": [
                              {
                                "charge": 21,
                                "condition": null,
                                "included_in": {
                                  "display": true,
                                  "chargeable_online": true
                                },
                                "mode": "percentage",
                                "percentage": 9,
                                "total_amount": {
                                  "accommodation_currency": 107.07,
                                  "booker_currency": 107.07
                                },
                                "unit_amount": null
                              },
                              {
                                "charge": 22,
                                "condition": null,
                                "included_in": {
                                  "display": true,
                                  "chargeable_online": false
                                },
                                "mode": "percentage",
                                "percentage": 7,
                                "total_amount": {
                                  "accommodation_currency": 83.27,
                                  "booker_currency": 83.27
                                },
                                "unit_amount": null
                              },
                              {
                                "charge": 142,
                                "condition": null,
                                "included_in": {
                                  "display": true,
                                  "chargeable_online": true
                                },
                                "mode": "per_person_per_night",
                                "percentage": null,
                                "total_amount": {
                                  "accommodation_currency": 6,
                                  "booker_currency": 6
                                },
                                "unit_amount": {
                                  "accommodation_currency": 3,
                                  "booker_currency": 3
                                }
                              }
                            ],
                            "display": {
                              "accommodation_currency": 1260.52,
                              "booker_currency": 1260.52
                            },
                            "total": {
                              "accommodation_currency": 1260.52,
                              "booker_currency": 1260.52
                            }
                          },
                          "room": "1000426"
                        }
                      ],
                      "url": "https://www.booking.com/hotel/nl/conscious-the-tire-station.html?affiliate_id=!AFFILIATE_ID!&checkin=!START_DATE!&checkout=!END_DATE!&group_adults=2&no_rooms=1"
                    },
                    "..."
                  ],
                  "next_page": "..."
                }
              }
            }
          }
        }
      }
    },
    "/accommodations/availability": {
      "post": {
        "summary": "Check availability",
        "description": "Use this endpoint to check real-time availability, prices, and charges for one or more accommodations. By default, only product availability and price is returned. <br/><br/>To retrieve extended details such as extra charges or payment information, use the `extras` or `filters` parameters. <br/> You must provide the following required input parameters: `accommodations`, `booker`, `checkin`, `checkout`, and `guests`.",
        "operationId": "/accommodations/availability",
        "parameters": [
          {
            "in": "header",
            "name": "X-Affiliate-Id",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "Include here your Affiliate identifier number"
          }
        ],
        "tags": [
          "Accommodations"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "AccommodationsAvailabilityInput",
                "type": "object",
                "properties": {
                  "accommodations": {
                    "type": "array",
                    "items": {
                      "description": "A signed integer number that uniquely identifies an accommodation property. The full list can be obtained by calling [accommodations/details](/demand/docs/open-api/demand-api/accommodations/accommodations/details).",
                      "type": "integer",
                      "minimum": 1
                    }
                  },
                  "booker": {
                    "title": "Booker",
                    "description": "The booker's information.",
                    "type": "object",
                    "properties": {
                      "country": {
                        "description": "The booker country for showing the best price for that user and obeying laws regarding the display of taxes and fees.",
                        "type": "string",
                        "pattern": "^[a-z]{2}$"
                      },
                      "platform": {
                        "description": "The booker platform for showing the platform based deals and prices.",
                        "type": "string",
                        "enum": [
                          "android",
                          "desktop",
                          "ios",
                          "mobile",
                          "tablet"
                        ]
                      },
                      "state": {
                        "description": "The booker state for showing the best price for that user and obeying laws regarding the display of taxes and fees. Currently applicable only for country US.",
                        "type": "string",
                        "pattern": "^[a-z]{2}$"
                      },
                      "travel_purpose": {
                        "description": "The travel purpose of the booker.",
                        "type": "string",
                        "enum": [
                          "business",
                          "leisure"
                        ]
                      },
                      "user_groups": {
                        "description": "The user groups that the booker is a member of.",
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "authenticated"
                          ]
                        }
                      }
                    },
                    "required": [
                      "country",
                      "platform"
                    ]
                  },
                  "checkin": {
                    "description": "The checkin date. Must be within 500 days in the future and in the format yyyy-mm-dd.",
                    "type": "string",
                    "format": "date"
                  },
                  "checkout": {
                    "description": "The checkout date. Must be later than {checkin}. Must be between 1 and 90 days after {checkin}. Must be within 500 days in the future and in the format yyyy-mm-dd.",
                    "type": "string",
                    "format": "date"
                  },
                  "currency": {
                    "description": "A three-letter code that uniquely identifies a monetary currency as defined by the ISO 4217 standard. The full list can be obtained by calling <a href=\"/demand/docs/open-api/demand-api/commonpayments/common/payments/currencies\" target=\"_blank\">common/payments/currencies</a>.",
                    "type": "string",
                    "pattern": "^[A-Z]{3}$",
                    "example": "EUR"
                  },
                  "extras": {
                    "description": "Input parameter to request for additional information about this product.",
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "extra_charges"
                      ]
                    }
                  },
                  "filters": {
                    "title": "AccommodationsAvailabilityFiltersInput",
                    "description": "The filters to apply in this availability request.",
                    "type": "object",
                    "properties": {
                      "cancellation_type": {
                        "description": "Filters the result for the cancellation type specified. Possible values are free_cancellation. The result will contain all the products with free_cancellation.",
                        "type": "string",
                        "enum": [
                          "free_cancellation"
                        ]
                      },
                      "meal_plan": {
                        "description": "Filter the result based on the selected meal plan. Example: When specified breakfast_included, it will show the product with free breakfast.",
                        "type": "string",
                        "enum": [
                          "all_inclusive",
                          "breakfast_included",
                          "full_board",
                          "half_board"
                        ]
                      },
                      "payment": {
                        "description": "Payment input information to filter results.",
                        "properties": {
                          "timing": {
                            "description": "This parameter specifies that the results should only return accommodation and blocks that contain the specified payment timings.",
                            "type": "string",
                            "enum": [
                              "pay_at_the_property",
                              "pay_online"
                            ]
                          }
                        }
                      }
                    }
                  },
                  "guests": {
                    "title": "AccommodationsGuests",
                    "description": "The guest details for the request.",
                    "type": "object",
                    "properties": {
                      "allocation": {
                        "description": "The exact allocation of guests to rooms.",
                        "type": "array",
                        "items": {
                          "properties": {
                            "children": {
                              "description": "The children ages for this room.",
                              "type": "array",
                              "items": {
                                "type": "integer",
                                "minimum": 0,
                                "maximum": 17
                              }
                            },
                            "number_of_adults": {
                              "description": "The number of adults for this room.",
                              "type": "integer",
                              "minimum": 1
                            }
                          },
                          "required": [
                            "number_of_adults"
                          ]
                        }
                      },
                      "children": {
                        "description": "Array with the children ages.",
                        "type": "array",
                        "items": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 17
                        }
                      },
                      "number_of_adults": {
                        "description": "The number of adults for the search.",
                        "type": "integer",
                        "minimum": 1
                      },
                      "number_of_rooms": {
                        "description": "The number of rooms needed.",
                        "type": "integer",
                        "minimum": 1
                      }
                    },
                    "required": [
                      "number_of_adults",
                      "number_of_rooms"
                    ]
                  }
                },
                "required": [
                  "accommodations",
                  "booker",
                  "checkin",
                  "checkout",
                  "guests"
                ]
              },
              "example": {
                "accommodations": [
                  10004
                ],
                "booker": {
                  "country": "nl",
                  "platform": "desktop"
                },
                "checkin": "!START_DATE!",
                "checkout": "!END_DATE!",
                "extras": [
                  "extra_charges"
                ],
                "filters": {
                  "meal_plan": "breakfast_included",
                  "cancellation_type": "free_cancellation"
                },
                "guests": {
                  "number_of_adults": 2,
                  "number_of_rooms": 1
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "AccommodationsAvailabilityOutput",
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "description": "Uniquely identifies the request. Please provide this identifier when contacting support.",
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "title": "AccommodationsAvailabilityDataOutput,",
                        "description": "",
                        "type": "object",
                        "properties": {
                          "id": {
                            "description": "A signed integer number that uniquely identifies an accommodation property. The full list can be obtained by calling [accommodations/details](/demand/docs/open-api/demand-api/accommodations/accommodations/details).",
                            "type": "integer",
                            "minimum": 1
                          },
                          "currency": {
                            "type": "object",
                            "properties": {
                              "accommodation": {
                                "description": "A three-letter code that uniquely identifies a monetary currency as defined by the ISO 4217 standard. The full list can be obtained by calling <a href=\"/demand/docs/open-api/demand-api/commonpayments/common/payments/currencies\" target=\"_blank\">common/payments/currencies</a>.",
                                "type": "string",
                                "pattern": "^[A-Z]{3}$",
                                "example": "EUR"
                              },
                              "booker": {
                                "description": "A three-letter code that uniquely identifies a monetary currency as defined by the ISO 4217 standard. The full list can be obtained by calling <a href=\"/demand/docs/open-api/demand-api/commonpayments/common/payments/currencies\" target=\"_blank\">common/payments/currencies</a>.",
                                "type": "string",
                                "pattern": "^[A-Z]{3}$",
                                "example": "EUR"
                              }
                            }
                          },
                          "deep_link_url": {
                            "description": "A mobile app URL that directs the user to a specific page or content within the Booking.com app. The link can only be used on a device with the Booking.com app installed. It typically includes an Affiliate ID (AID) to attribute bookings to the affiliate partner when users are redirected",
                            "type": "string",
                            "format": "url"
                          },
                          "products": {
                            "type": "array",
                            "items": {
                              "title": "AccommodationsAvailabilityProductOutput",
                              "description": "",
                              "type": "object",
                              "properties": {
                                "id": {
                                  "description": "Unique ID of the product.",
                                  "type": "string"
                                },
                                "deal": {
                                  "title": "Deal",
                                  "description": "This specifies the deal tagging for the product.",
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "discount_percentage": {
                                      "description": "Discount percentage of the applied deal.",
                                      "type": "integer",
                                      "minimum": 1
                                    },
                                    "public_price": {
                                      "description": "Original price of this product, before applying any discounts.",
                                      "title": "AccommodationsPriceMultiCurrency",
                                      "type": "object",
                                      "properties": {
                                        "accommodation_currency": {
                                          "type": "number",
                                          "multipleOf": 0.01,
                                          "exclusiveMinimum": 0
                                        },
                                        "booker_currency": {
                                          "type": "number",
                                          "multipleOf": 0.01,
                                          "exclusiveMinimum": 0
                                        }
                                      }
                                    },
                                    "tags": {
                                      "description": "The tags of all the applied deals.",
                                      "type": "array",
                                      "items": {
                                        "type": "string",
                                        "enum": [
                                          "black_friday",
                                          "limited_time_deal",
                                          "logged_in_deal",
                                          "mobile_rate",
                                          "seasonal_deal"
                                        ]
                                      }
                                    }
                                  }
                                },
                                "inventory": {
                                  "title": "InventoryOutput",
                                  "type": "object",
                                  "properties": {
                                    "third_party": {
                                      "type": "boolean",
                                      "description": "Indicates if the inventory is from a third party."
                                    },
                                    "type": {
                                      "description": "Type of inventory - either net or sell rates.",
                                      "type": "string",
                                      "enum": [
                                        "net",
                                        "sell"
                                      ]
                                    }
                                  }
                                },
                                "maximum_occupancy": {
                                  "title": "AccommodationsMaximumOccupancy",
                                  "description": "Information related to maximum number of occupancy inside the room.",
                                  "type": "object",
                                  "properties": {
                                    "adults": {
                                      "description": "The maximum number of adults for this room.",
                                      "type": "integer",
                                      "minimum": 1
                                    },
                                    "children": {
                                      "description": "The information about maximum number of children and their allowed ages for this room.",
                                      "type": "array",
                                      "items": {
                                        "title": "AccommodationsChildren",
                                        "type": "object",
                                        "properties": {
                                          "total": {
                                            "description": "The maximum number of children for this room.",
                                            "type": "integer",
                                            "minimum": 1
                                          },
                                          "from_age": {
                                            "description": "The youngest age of the children allowed in this room.",
                                            "type": "integer",
                                            "minimum": 0,
                                            "maximum": 17
                                          },
                                          "to_age": {
                                            "description": "The oldest age of the children allowed in this room.",
                                            "type": "integer",
                                            "minimum": 0,
                                            "maximum": 17
                                          },
                                          "free_stay": {
                                            "description": "Whether children in this age bracket will be staying for free. False indicates their cost was already included in the price.",
                                            "type": "boolean"
                                          }
                                        }
                                      }
                                    },
                                    "total": {
                                      "description": "The maximum number of guests for this room.",
                                      "type": "integer",
                                      "minimum": 1
                                    }
                                  }
                                },
                                "number_available": {
                                  "description": "How many units of this product are still available.",
                                  "type": "integer",
                                  "minimum": 1
                                },
                                "policies": {
                                  "title": "AccommodationsProductPolicies",
                                  "description": "The policies for this product.",
                                  "type": "object",
                                  "properties": {
                                    "cancellation": {
                                      "description": "The cancellation policy schedule for this product.",
                                      "type": "array",
                                      "items": {
                                        "title": "AccommodationsProductDetailedCancellationPolicyMultiCurrency",
                                        "type": "object",
                                        "properties": {
                                          "from": {
                                            "description": "The time from which this cancellation fee applies. `now` means from booking time.",
                                            "oneOf": [
                                              {
                                                "type": "string",
                                                "format": "date-time"
                                              },
                                              {
                                                "type": "string",
                                                "pattern": "now"
                                              }
                                            ],
                                            "nullable": true
                                          },
                                          "price": {
                                            "description": "The cancellation fee.",
                                            "title": "AccommodationsPriceCurrency",
                                            "type": "object",
                                            "properties": {
                                              "accommodation_currency": {
                                                "type": "number",
                                                "multipleOf": 0.01,
                                                "exclusiveMinimum": 0
                                              },
                                              "booker_currency": {
                                                "type": "number",
                                                "multipleOf": 0.01,
                                                "exclusiveMinimum": 0
                                              }
                                            }
                                          }
                                        }
                                      }
                                    },
                                    "meal_plan": {
                                      "title": "AccommodationsProductMealPlanPolicy",
                                      "description": "The meal plan policy for this product.",
                                      "type": "object",
                                      "properties": {
                                        "meals": {
                                          "description": "The meals included in the meal plan.",
                                          "type": "array",
                                          "items": {
                                            "type": "string",
                                            "enum": [
                                              "breakfast",
                                              "dinner",
                                              "lunch"
                                            ]
                                          }
                                        },
                                        "plan": {
                                          "description": "The meal plan included in this product.",
                                          "type": "string",
                                          "enum": [
                                            "all_inclusive",
                                            "breakfast_included",
                                            "full_board",
                                            "half_board",
                                            "no_plan"
                                          ]
                                        }
                                      }
                                    },
                                    "payment": {
                                      "title": "AccommodationsProductPaymentPolicyNew",
                                      "description": "Payment terms and conditions for this product.",
                                      "type": "object",
                                      "properties": {
                                        "prepayment_required": {
                                          "description": "Whether prepayment is required for this product.",
                                          "type": "boolean"
                                        },
                                        "timings": {
                                          "description": "The payment timings supported by this product.",
                                          "type": "array",
                                          "items": {
                                            "type": "string",
                                            "enum": [
                                              "pay_at_the_property",
                                              "pay_online_later",
                                              "pay_online_now"
                                            ]
                                          }
                                        }
                                      }
                                    }
                                  }
                                },
                                "price": {
                                  "title": "AccommodationsProductPrice",
                                  "description": "Contains the price components of an accommodation product. The 'base', 'display', 'chargeable_online' prices, and 'charges' are returned only when explicitly requested using extras=extra_charges.",
                                  "type": "object",
                                  "properties": {
                                    "base": {
                                      "description": "The base price. It does not include any extra charges.",
                                      "type": "object",
                                      "properties": {
                                        "accommodation_currency": {
                                          "type": "number",
                                          "multipleOf": 0.01,
                                          "exclusiveMinimum": 0
                                        },
                                        "booker_currency": {
                                          "type": "number",
                                          "multipleOf": 0.01,
                                          "exclusiveMinimum": 0
                                        }
                                      }
                                    },
                                    "charges": {
                                      "description": "The charge breakdown. Includes taxes and fees.",
                                      "type": "array",
                                      "items": {
                                        "title": "AccommodationsChargeWithChargeableOnline",
                                        "description": "Detailed information about an individual charge, including where it is applied.",
                                        "type": "object",
                                        "properties": {
                                          "charge": {
                                            "description": "A signed integer number that uniquely identifies an accommodation charge type. Examples of charges are: VAT, City Tax, etc. The full list can be obtained by calling <a href=\"/demand/docs/open-api/demand-api/accommodations/accommodations/constants\" target=\"_blank\">accommodations/constants</a>.",
                                            "type": "integer",
                                            "minimum": 0
                                          },
                                          "condition": {
                                            "description": "A signed integer number that uniquely identifies the condition ID. Find the full list in the <a href=\"/demand/docs/accommodations/prices-accommodations\" target=\"_blank\">Pricing guidelines</a>.",
                                            "type": "integer",
                                            "minimum": 0
                                          },
                                          "included_in": {
                                            "title": "ChargeIncludedIn",
                                            "description": "Indicates where this charge is included",
                                            "type": "object",
                                            "properties": {
                                              "chargeable_online": {
                                                "description": "Whether this charge is chargeable online or not. Not applicable to \"pay_at_the_property\" timing.",
                                                "type": "boolean",
                                                "nullable": true
                                              },
                                              "display": {
                                                "description": "Indicates if this charge is included in the display price.",
                                                "type": "boolean"
                                              }
                                            }
                                          },
                                          "mode": {
                                            "description": "The mode of this charge. Determines how the price is calculated.",
                                            "type": "string",
                                            "enum": [
                                              "calculated_amount",
                                              "incalculable",
                                              "percentage",
                                              "per_day",
                                              "per_night",
                                              "per_person_per_day",
                                              "per_person_per_night",
                                              "per_person_per_stay",
                                              "per_stay"
                                            ]
                                          },
                                          "percentage": {
                                            "description": "The percentage of 'base' that this charge amounts to. Only applicable when 'mode' is 'percentage'.",
                                            "type": "number",
                                            "multipleOf": 0.01,
                                            "exclusiveMinimum": 0,
                                            "nullable": true
                                          },
                                          "total_amount": {
                                            "description": "The total price for this charge.",
                                            "type": "object",
                                            "properties": {
                                              "accommodation_currency": {
                                                "type": "number",
                                                "multipleOf": 0.01,
                                                "exclusiveMinimum": 0
                                              },
                                              "booker_currency": {
                                                "type": "number",
                                                "multipleOf": 0.01,
[...]
